.sheet-box {
  overflow: hidden;
  box-sizing: border-box;

  .sheet-content-box {
    position: fixed;
    bottom: 0;
    overflow: auto;
    z-index: 2;
    height: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
  }

  //入场动画
  .myfade-enter {
    height: 0;
  }
  .myfade-enter-active {
    height: 200px;
    transition: height 0.6s;
  }
  .myfade-enter-done {
    height: 200px;
  }

  //出场动画
  .myfade-exit {
    height: 200px;
  }
  .myfade-exit-active {
    height: 0;
    transition: height 0.6s;
  }
  .myfade-exit-done {
    height: 0;
  }
}

.add-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // height: 100%;
  width: 100%;
  border: 1px solid #000;
  background-color: rgba(230, 230, 230, 0.3);
}
